name: Workflow

on:
  push:
    branches: [ main ]
  pull_request: { }

jobs:
  required-meta:
    permissions:
      contents: read
      checks: write
      pull-requests: write
    uses: BlindfoldedSurgery/actions-meta/.github/workflows/required.yml@v2

  lint:
    uses: BlindfoldedSurgery/actions-python/.github/workflows/lint.yml@v6
    with:
      build-tool: uv
      python-version: '3.14'

  test:
    uses: BlindfoldedSurgery/actions-python/.github/workflows/test.yml@v6
    with:
      build-tool: uv
      python-version: '3.14'

  build-container-image:
    needs:
      - lint
      - test
    permissions:
      contents: read
      packages: write
    uses: preparingforexams/actions-container/.github/workflows/build-dual-image-buildah.yml@v7
    with:
      push-image: ${{ github.ref_name == github.event.repository.default_branch }}

  post-build-container-image:
    runs-on: ubuntu-24.04
    if: "!cancelled() && github.event_name == 'pull_request'"
    needs: build-container-image
    steps:
      - run: |
          if [ "true" == "${{ contains(needs.*.result, 'failure') }}" ]
          then
            echo "A required job failed"
            exit 1
          else
            echo "All required jobs passed"
          fi

  deploy:
    runs-on: ubuntu-24.04
    if: github.ref_name == github.event.repository.default_branch
    needs:
      - build-container-image
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: git push origin main:release

  clean:
    concurrency: cleanup
    needs: [ deploy ]
    uses: preparingforexams/actions-container/.github/workflows/clean.yml@v7
    permissions:
      packages: write
